<div class="mat-elevation-z8">
    <table mat-table [dataSource]="libro">
  
      <!-- Position Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="registro">
        <th mat-header-cell *matHeaderCellDef> Registro </th>
        <td mat-cell *matCellDef="let element"> {{element.registro}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef> Genero </th>
        <td mat-cell *matCellDef="let element"> {{element.genero.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  